[Unit]
Description=Mount defrag remote-folder with all community maps
After=network.target

[Mount]
What=173.212.241.188:/maps/bsp
Where=/home/q3df/dfsv/game/nfs/maps
Type=nfs
Options=nolock,noresvport,soft,timeo=30

[Install]
WantedBy=multi-user.target